h1{
  color: maroon;
  text-align: center;
}
h2{
  font-style: italic;
  color: red;
}
body{
  background-color: olive;
}
.mylist {
    color: white;
    background-image: url("../images/movie.jpg");
}
.main{
  color: white;
  font-style: italic;
  background-color: black;
}
.release{
  color: brown;
  font-size: 11px
}
img{
  float: none;
}
.page{
  margin: 20px;
  margin-top: 256px;
  padding: 3px;
  border: 8px;
  border-top: 28px;
  background-color: brown;
}
